@import "../../style/base";
$rem:75;
.empty_box{
  padding: 246rem/$rem 0;
  text-align: center;
  .cont{
    .ico{
      @include bg-box('images/empty.png', 90rem/$rem, 73rem/$rem);
    }
    .desc{
      margin-top: 40rem/$rem;
      color: #6E6E6E;
      font-size: 26rem/$rem;
    }
  }
}
