@import "../../style/base";
$rem:75;

.page_loading_view {
  img{
    width: 200rem/$rem;
    height: 200rem/$rem;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -200rem/$rem;
    left: 50%;
    margin-left: -100rem/$rem;
  }
}
